<h3 class="centrar-texto">Sobre Nosotros</h3>

<div class="sobre-nosotros">
    <div class="sobre-nosotros__imagen">
        <img src="assets/images/nosotros.jpg" alt="imagen nosotros">
    </div>

    <div class="sobre-nosotros__texto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate ante in tempus sagittis. Proin
            tincidunt mi iaculis ante blandit, vel rhoncus elit dictum. Morbi sit amet metus eget nunc mollis egestas
            nec id elit. Nullam eu diam blandit, sagittis risus id, tincidunt sapien. Praesent in euismod nisi.
            Curabitur tempus mi sit amet libero dignissim ultrices sit amet ac ex. Proin ullamcorper lorem et mauris
            egestas, eu faucibus urna volutpat. In consectetur lorem dolor, et aliquet purus tempus at. Vestibulum
            efficitur congue purus a vehicula. Donec et elit massa. Vestibulum neque purus, dignissim quis justo eget,
            semper placerat eros.</p>

        <p>Suspendisse potenti. Suspendisse ut ex magna. Nullam quam lorem, molestie sed tristique vel, blandit nec
            enim. Integer libero ex, volutpat nec nisl vel, fringilla tempor orci. Vivamus a arcu a nulla hendrerit
            aliquam. Nullam ornare arcu et metus molestie posuere sit amet in mi. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Phasellus sed fringilla dolor, nec malesuada leo.
            Nullam sit amet luctus nisi.</p>

    </div>

</div>