<aside class="sidebar">
    <h3>Nuestros Cursos y Talleres</h3>

    <ul class="cursos no-padding">
        <li class="widget-curso">
            <h4 class="no-margin">Técnicas de Extracción de Café</h4>
            <p class="widget-curso__label">Precio:
                <span class="widget-curso__info">Gratis</span>
            </p>
            <p class="widget-curso__label">Máximo de alumnos:
                <span class="widget-curso__info">20</span>
            </p>
            <a href="entrada.html" class="boton boton--secundario">Más Información sobre nuestros cursos</a>
        </li>
        <li class="widget-curso">
            <h4 class="no-margin">4 Recetas de Café para Principiantes</h4>
            <p class="widget-curso__label">Precio:
                <span class="widget-curso__info">Gratis</span>
            </p>
            <p class="widget-curso__label">Máximo de alumnos:
                <span class="widget-curso__info">20</span>
            </p>
            <a href="entrada.html" class="boton boton--secundario">Más Información sobre nuestros cursos</a>
        </li>
    </ul>
</aside>